.main {
	text-align: center;
	min-height: 100vh;
	min-width: 100vw;
	padding: 30px;
	background-color: #ff8a00;
}

.heading {
	margin-bottom: 30px;
}

.body {
	max-width: 1000px;
	margin: 0 auto;
}

.description {
	max-width: 500px;
	margin: 20px auto;
	text-align: left;
}

.formSection {
	margin-bottom: 10px;
}

.formSection input {
	border-radius: 8px;
	border: 1px solid #db5ba9;
	color: #db5ba9;
	padding: 5px;
}

.formSection textarea {
	border-radius: 8px;
	border: 1px solid #db5ba9;
	color: #db5ba9;
	padding: 5px;
}

.button {
	border-radius: 8px;
	border: 1px solid #db5ba9;
	color: #db5ba9;
	padding: 5px;
	text-align: center;
}

.radio {
	display: grid;
	grid-template-columns: [input-start] auto [input-end label-start] 1fr [label-end];
	justify-content: center;
	max-width: 400px;
	margin: 0 auto;
	gap: 0 10px;
	text-align: center;
}

.radio > span {
	grid-column: input-start / label-end;
	margin-bottom: 5px;
}

.radioInput {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: input-start / label-end;
	margin-bottom: 5px;
}

.radioInput input {
	grid-column: input-start / input-end;
	grid-row: 1;
}

.radioInput label {
	grid-column: label-start / label-end;
	grid-row: 1;
	text-align: left;
}

.successMessage {
	background-color: #d4edda; /* Light green background */
	border-radius: 4px;
	border: 1px solid #c3e6cb;
	color: #155724; /* Dark green text */
	margin: 30px auto 1em;
	padding: 1em;
	width: fit-content;
}

.errorMessage {
	background-color: #f8d7da; /* Light red background */
	border-radius: 4px;
	border: 1px solid #f5c6cb;
	color: #721c24; /* Dark red text */
	margin: 30px auto;
	padding: 1em;
	width: fit-content;
}
