@font-face {
	font-family: BeautifullyDelicious;
	src: url(./assets/fonts/BDScript-Regular.woff2);
}

@font-face {
	font-family: CooperHewitt;
	src: url(./assets/fonts/CooperHewitt-Light.woff);
}

:root {
	--max-width: 1100px;
	--border-radius: 12px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 1440px;
	overflow-x: hidden;
	min-height: 100vh;
	min-width: 100vw;
	font-family: CooperHewitt;
}

h1,
h2,
h3 {
	font-family: BeautifullyDelicious;
}

h1 {
	font-size: 70px;
}

html {
	min-height: 100vh;
	min-width: 100vw;
}

a {
	color: inherit;
	text-decoration: none;
}
