.main {
	background: rgb(219, 91, 169);
	background: linear-gradient(
		180deg,
		rgba(219, 91, 169, 1) 50%,
		rgba(255, 138, 0, 1) 50%
	);
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	overflow: scroll;

	@media (min-width: 585px) {
		background: rgb(219, 91, 169);
		background: linear-gradient(
			90deg,
			rgba(219, 91, 169, 1) 60%,
			rgba(255, 200, 127, 1) 70%
		);
	}
}

.description {
	color: #ffe7cb;
	position: absolute;
	z-index: 10;
	font-weight: 300;
	top: 75%;
	padding: 0 20px 30px;
	text-align: center;

	@media (min-width: 550px) {
		left: 40%;
		top: 75%;
		transform: translateX(-50%);
		max-width: 600px;
		font-size: 30px;
		font-weight: 200;
	}
}

.heading {
	font-size: 40px;
}

.body {
	font-size: 20px;
}

.image {
	background-image: url(./assets/landing-page-mobile.png);
	min-height: 100vh;
	min-width: 100vw;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;

	@media (min-width: 585px) {
		background-size: contain;
		background-position: center;
		background-image: url(./assets/landing-page.png);
		background-repeat: no-repeat;
	}
}
