.main {
	text-align: center;

	background-image: url(../assets/background.svg);
	min-height: 98vh;
	min-width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 30px;
}

.heading {
	margin-bottom: 30px;
}

.body {
	max-width: 1000px;
	margin: 0 auto;
}
