.main {
	text-align: center;
	min-height: 100vh;
	min-width: 100vw;
	padding: 30px;
	background-color: #ff8a00;
}

.heading {
	margin-bottom: 30px;
	hyphens: auto;
}

.body {
	max-width: 1000px;
	margin: 0 auto;
}

.section {
	display: flex;
	flex-direction: column;
	height: fit-content;
	align-items: center;
	justify-content: space-around;

	@media (min-width: 400px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.names {
	display: flex;
	flex-direction: column;
}
